<link rel="stylesheet" href="register.css">

<div id="wrapper">
    <form id="loginForm" action="/register" method="POST">
        <h1>CoStudent<img src="Icons/Logo.png"></h1>
        <div id="inputs">
            <h2>Opret bruger</h2>
            <div class="group">
                <input type="text" id="name" name="name" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Brugernavn</label>
            </div>

            <div class="group">
                <input type="password" id="password" name="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Kodeord</label>
            </div>
            <button type="submit">Opret</button>
            <button><a href="/login">Tilbage til Login</a></button>
        </div>
    </form>
</div>