body {
    font-family:
        Verdana,
        Arial,
        Helvetica,
        sans-serif;
    font-size: 13px;
    background: #8a7b8b;
}

button {
    padding: 10px;
    border-radius: 10px;
}