body {
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.mainBody {
    width: 100%;
    height: 100%;
    display: flex;
}

.centerBar {
    min-width: 400px;
    width: 100%;
}

.centerBar header{
    text-align: center;
    font-size: 22px;
    width: 100%;
    line-height: 70px;
    border: 2px solid;
    box-sizing: border-box;
    user-select: none;
    color: white;
    background: coral;
}


/* Left Sidebar */

.sidebarLeft {
    float: left;
    width: 230px;
    height: 100%;
    background: lightcoral;
}

.sidebarLeft header {
    text-align: center;
    font-size: 22px;
    line-height: 70px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    box-sizing: border-box;
    user-select: none;
    color: white;
    background: coral;
}

.sidebarLeft ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid;
    overflow: hidden;
    white-space: nowrap;
}

ul li:hover a{
    padding-left: 30px;
}


/* Right Sidebar */

.sidebarRight {
    float: right;
    min-width: 260px;
    max-width: 280px;
    width: 20%;
    height: 100%;
    background: lightcoral;
}

.sidebarRight header {
    text-align: center;
    font-size: 22px;
    line-height: 70px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    box-sizing: border-box;
    user-select: none;
    color: white;
    background: coral;
}

.sidebarRight ul {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.profileCard {
    display: flex;
    box-sizing: border-box;
    border-bottom: 2px solid;
    color: white;
    background: rgb(0, 0, 0, 0.2);
}

.profilePicture {
    float: left;
    margin: 5px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: wheat;
}

.profileInfo {
    float: left;
    margin: 5px;
    overflow: hidden;
    color: greenyellow;
}

.profileInfo h3 {
    width: 178px;
    background: none;
    overflow: hidden;
    color: white;
}
