body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(33, 32, 46);
}

* {
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

li {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background: rgb(65, 65, 65);
}


.topArea {
    height: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    background: rgb(78, 78, 78);
}

.topArea li:hover {
    background: grey;
}

.topArea h1 {
    margin-left: 50%;
}

.leftHeader {
    display: flex;
}

.rightHeader {
    display: flex;
}

.table {
    height: 90%;
    width: 100%;
    bottom: 0px;
    display: table;
    position: absolute;
    border-spacing: 10px;
}

.table div {
    display: table-cell;
}

.leftArea {
    min-width: 220px;
    max-width: 300px;
    width: 15%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background: rgb(78, 78, 78);
}

.leftArea li {
    padding: 20px;
}

.leftArea li:hover {
    background: gray;
}

.centerArea {
    width: 60%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background: rgb(78, 78, 78);
}

.rightArea {
    min-width: 220px;
    width: 15%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background: rgb(78, 78, 78);
}

.rightArea li {
    max-width: 280px;
    margin-top: 10px;
    padding: 7px;
    display: flex;
    overflow: hidden;
}


.centerArea input {
    bottom: 0px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    position: absolute;
    background: rgb(65, 65, 65);
}

.avatar {
    width: 64px;
    height: 64px;
    background: orange;
    border-radius: 50%;
}

.profileList li {
    line-height: 2px;
    white-space: nowrap;
    overflow: hidden;
}