body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(33, 32, 46);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

li {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background: rgb(65, 65, 65);
}


.topArea {
    height: 100%;
    text-align: center;
    margin: 10px;
    padding: 10px;
    display: flex;
    border-radius: 20px;
    background: rgb(78, 78, 78);
}

.leftHeader {
    float: left;
    display: flex;
}

.rightHeader {
    float: right;
    display: flex;
}

.table {
    height: 90%;
    width: 100%;
    bottom: 0px;
    display: table;
    position: absolute;
    border-spacing: 10px;
}

.table div {
    display: table-cell;
}

.leftArea {
    min-width: 220px;
    width: 15%;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    background: rgb(78, 78, 78);
}

.centerArea {
    width: 60%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background: rgb(78, 78, 78);
}

.rightArea {
    min-width: 220px;
    width: 15%;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    background: rgb(78, 78, 78);
}

.centerArea input {
    bottom: 0px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    position: absolute;
    background: rgb(65, 65, 65);
}