body {
    background: url(https://img.freepik.com/free-vector/tartan-scotland-seamless-plaid-pattern-vector-retro-background-fabric-vintage-check-color-square-geometric-texture-textile-print-wrapping-paper-gift-card-wallpaper-flat-design_87543-6504.jpg?size=338&ext=jpg);
    font-family: Arial, Helvetica, sans-serif;
}

.loginForm {
    display: block;
}

.signupForm{
    display: none;
}

/* Bordered form */
form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 400px;
    border: 3px solid #f1f1f1;
    border-radius: 20px;
    background: lightsalmon;
    overflow: hidden;
}

/* Full-width inputs */
input[type=email],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 30px;
    overflow: scroll;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    border-radius: 20px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.title {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    overflow: auto;
}