body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  background: #8a7b8b;
}

p {
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  width: fit-content;
  padding: 8px 15px;
  margin: 15px auto;
  font-family: papyrus;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 50px;
  background-color: #d6c7a7;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
}

#headerwrap {
  float: left;
  width: 100%;
  margin: 0 auto;
}

#header {
  height: 100px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  border: 1px ;
  border-radius: 10px;
  display: flex;
  background: #706777;
}

#header button {
  margin: 10px;
  padding: 10px 20px;
  text-align: left;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  background: #c5aca4;
}

#contentwrap {
  width: 70%;
  float: left;
  margin: 0 auto;
}

#content {
  height: 810px;
  margin: 5px;
  padding: 10px;
  display: flex;
  overflow: hidden;
  border: 1px ;
  border-radius: 10px;
  background: #706777;
}

#leftcolumnwrap {
  float: left;
  width: 15%;
  min-width: 220px;
  margin: 0 auto;
}

#leftcolumn {
  height: 810px;
  margin: 5px;
  border-radius: 10px;
  border: 1px ;
  background: #706777;
}

#rightcolumnwrap {
  float: left;
  width: 15%;
  min-width: 220px;
  margin: 0 auto;
}

#rightcolumn {
  height: 810px;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: 1px ;
  background: #706777;
}

#userCard {
  padding: 10px;
  display: flex;
  border-radius: 10px;
  background: #93818f;
}

#avatar {
  width: 72px;
  height: 72px;
  border-radius: 25px;
  background: orange;
}

#userInfo {
  margin-top: 10px;
  color: white;
  line-height: 5px;
  display: block;
}

#userName {
  font-size: large;
  font-weight: bold;
}

#userStatus {
  font-size: medium;
}

#leftcolumn button {
  width: 92%;
  margin: 10px 0 0 10px;
  padding: 10px 20px;
  text-align: left;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  background: #c5aca4;
}

.chat {
  height: 720px;
  border-radius: 10px;
  background: #93818f;
}

.chatInputs {
  padding: 5px;
  margin-top: 42px;
  border-radius: 10px;
  display: flex;
  background: #93818f;
}

.chat button {
  width: 50px;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  background: #c5aca4;
}

.chat input {
  width: 600px;
  height: 50px;
  margin-left: 5px;
  padding: 8px;
  border: 1px  #c5aca4;
  border-radius: 10px;
  overflow: scroll;
  font-size: medium;
  font-weight: bold;
  color: black;
  background: #93818f;
}

::placeholder {
  font-size: medium;
  font-weight: bold;
  color: black;
}

.messages {
  width: 1310px;
  height: 685px;
  padding: 10px;
  line-height: 20px;
  overflow-y: scroll;
  border-radius: 10px;
  display: block;
}

#message {
  font-size: 16px;
  margin: 4px;
  padding: 10px;
  border-radius: 10px;
  background: #c5aca4;
}

#chat1 {
  visibility: visible;
  position: absolute;
}

#chat2 {
  visibility: hidden;
  position: absolute;
}

#chat3 {
  visibility: hidden;
  position: absolute;
}

#chat4 {
  visibility: hidden;
  position: absolute;
}

.messages::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin-left: 10px;
}

.messages::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}